<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
    <button (click)="logOut()" class="btn btn-warning">LogOut</button>
  </nav>
  <hr>
  <button (click)="deletefromParent()" style="float: right;" class=" btn btn-danger" >Delete</button>

  <h5   style="color: bisque;">Welcome {{user}}</h5>
  <h6 style="color: azure;">Login Details:{{loginDate|date:'mediumDate'|uppercase }}</h6>
  <a routerLink="/transaction" >Transaction History</a>
  <!-- <app-animation></app-animation> -->
 <!-- selector component  <app-delete> -->
  <app-delete-confirm (onDelete)="onDelete($event)" (onCancel)="onCancel()" [item]=acno></app-delete-confirm>

  
  
  
  <div [ngClass]="acno? 'style1':'' " class="container col-md-12 mt-0">
      <div class="d-flex justify-content-center h-100">
          <div class="card">
              <div class="card-header">
                  <h3  appHighlight class="text-center">Deposit Form</h3>
              </div>
             
              <div class="card-body">
                  <form [formGroup]="depositForm" (ngSubmit)="deposit()">
                    

                        <div class="input-group form-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                          <!-- <input type="text" name="acno" [(ngModel)]="acno"   class="form-control" placeholder="Account number please.." id="login_accno" required> -->
                          <input type="text" name="acno"  formControlName="acno"   class="form-control" placeholder="Account number please.." id="login_accno" required>
                        </div>

                        <div *ngIf="(this.depositForm.get('acno')?.touched||this.depositForm.get('acno')?.dirty)&&this.depositForm.get('acno')?.errors" style="color: brown;">
                            invalid Account Number
                        </div>
    
                     
                        <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-key"></i></span>
                          </div>
                          <input type="text" name="pswd" formControlName="pswd"    class="form-control" placeholder="Password please.." id="login_accno" required>
                        </div>
                      
                        <div *ngIf="(this.depositForm.get('pswd')?.touched||this.depositForm.get('pswd')?.dirty)&&this.depositForm.get('pswd')?.errors" style="color: brown;">
                            invalid Password
                        </div>


                       <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="text" name="amount" formControlName="amount"    class="form-control" placeholder="amount.." id="login_amount" required>
                    </div>

                    <div *ngIf="(this.depositForm.get('amount')?.touched||this.depositForm.get('amount')?.dirty)&&this.depositForm.get('amount')?.errors" style="color: brown;">
                        invalid data
                    </div>


                    <div class="form-group">
                        <input type="submit"   value="deposit" class="btn float-right login_btn " style="width:50%" >
                     </div>

                  
                </form>
              </div>
          </div>
      </div>
  </div>
  
  <div [ngClass]="acno? 'style1':'' " class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100% ">
        <div class="card">
            <div class="card-header">
                <h3  appHighlight class="text-center">Withdraw Form</h3>
            </div>
           
            <div class="card-body">
                <form  [formGroup]="withdrawForm" (ngSubmit)="withdraw()">
                  

                      <div class="input-group form-group">
                         <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                        <input type="text" name="acno"  formControlName="acno"   class="form-control" placeholder="Account number please.." id="login_accno" required>
                      </div>
                      
                      <div *ngIf="(this.withdrawForm.get('acno')?.touched||this.withdrawForm.get('acno')?.dirty)&&this.withdrawForm.get('acno')?.errors" style="color: brown;">
                        invalid Account Number
                    </div>

                      
                      
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="text" name="pswd"  formControlName="pswd"   class="form-control" placeholder="Password please.." id="login_accno" required>
                      </div>
                    
                      <div *ngIf="(this.withdrawForm.get('pswd')?.touched||this.withdrawForm.get('pswd')?.dirty)&&this.withdrawForm.get('pswd')?.errors" style="color: brown;">
                        invalid Password
                    </div>


                    
                      <div class="input-group form-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-key"></i></span>
                      </div>
                      <input type="text" name="amount"  formControlName="amount"   class="form-control" placeholder="amount.." id="login_amount" required>
                  </div>

                  <div *ngIf="(this.withdrawForm.get('amount')?.touched||this.withdrawForm.get('amount')?.dirty)&&this.withdrawForm.get('amount')?.errors" style="color: brown;">
                    invalid amount
                </div>

                  
                  
                  <div class="form-group">
                      <input type="submit"   value="withdraw" class="btn float-right login_btn " style="width:50%" >
                   </div>

                
              </form>
            </div>
        </div>
    </div>
</div>





