<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
  </nav>

<link rel="stylesheet" href="./transaction.component.css">
<h1 style="color: azure; text-align: center;" >Transaction History</h1>
<table>
    <thead>
        <tr>
            <th>Type </th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of transaction ">
            <th>{{t.type}}</th>
            <th>{{t.amount}}</th>
        </tr>

    </tbody>
</table>
<a class="home" routerLink="/dashboard">Home</a>
